@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins";

body {
  @apply bg-[#0b0f14] text-text font-[Poppins];
}

/* Animasiya və parıltı effektləri */
.glow {
  text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* Scrollbar */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #2b343f;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
